* {
  margin: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--main-color);
  background-color: var(--bacground-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-color: #ffffff;
  --background-color: #242424;
}

body {
  display: flex;
  justify-content: center;;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.5em;
  line-height: 1.1;

  margin-top: 3vh;
  margin-bottom: 3vh;
}

h2 {
  font-size: 2em;
  line-height: 1.1;

  margin-top: 2vh;
  margin-bottom: 2vh;
}

.app {
  min-width: 40vw;
}

.label {
  min-width: 65px;
}

/* FLEX */

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: start;
}

.gap-4 {
  gap: 4px;
}

.gap-8 {
  gap: 8px;
}

.gap-16 {
  gap: 16px;
}

/* TEXT */
.text-bold {
  font-weight: bold;
}

/* MARGIN */

.ml-auto {
  margin-left: auto;
}

.mt-8 {
  margin-top: 8px;
}

.mt-5vh {
  margin-top: 5vh;
}

/* MEDIA QUERIES */

@media (prefers-color-scheme: light) {
  :root {
    --main-color: #242424;
    --background-color: #ffffff;
  }
}
